---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre mi | Gabriel González" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mi"
				tagline="Gracias por tu visita. Descubre más sobre mí y mi trayectoria a continuación..."
			>
				<img
					width="588"
					height="330"
					src="/assets/Perfil2.jpg"
					alt="Gabriel"
					style="display: block; margin-left: auto; margin-right: auto;"
				/>
			</Hero>

			<section>
				<h2 class="section-title">🔍 Sobre Mí</h2>
				<div class="content">
					<p>
						Soy <strong>Licenciado en Sistemas de Información</strong>, especializado en el desarrollo .NET, con una sólida experiencia en el 
						desarrollo de aplicaciones web. Me enfoco en ASP.NET WebForms y .NET Framework 4.8, 
						utilizando SQL Server como base de datos. Además, gestiono mis proyectos en GitHub. 
						Mi enfoque es crear soluciones robustas y eficientes, combinando mi experiencia técnica con un 
						enfoque orientado al usuario para contribuir al éxito de proyectos y equipos.<br><br/>
					</p>
					<p style="margin: 0; line-height: 1.5;">
						🔭 Actualmente, estoy trabajando en proyectos de migración a microservicios y aprendiendo sobre .NET Core para modernizar mis aplicaciones.<br><br>
						🌱 En constante aprendizaje en temas como Docker, optimización de bases de datos y validaciones en JavaScript.<br><br>
						👯 Estoy buscando colaborar en proyectos que impliquen el uso de tecnologías modernas, especialmente en el ámbito de .NET.<br><br>
						📫 Puedes contactarme a través de <a href="https://www.linkedin.com/in/ggonzalez1985" target="_blank">LinkedIn</a> o por email en <a href="mailto:gabrielgonzalez1985@gmail.com">gabrielgonzalez1985@gmail.com</a>.
					</p>				
				</div>
				<hr class="divider">
			</section>

			<hr class="divider">

			<section>
				<h2 class="section-title">🎓 Educación</h2>
				<div class="content">
					<p>
						<strong>Universidad Gastón Dachary</strong><br>
						<em>Licenciado en Sistemas de Información</em><br>
						Abril 2006 - Noviembre 2012<br>
						<a href="https://drive.google.com/file/d/1rs2viGe8lzhoqOZQozaowlfQW0rkTHFK/view?usp=sharing" target="_blank">Enlace al Título</a>
					</p>
					<br>
					<p>
						<strong>Maxi Programa</strong><br>
						<em>Bases de Datos [Nivel Universidad]</em><br>
						Agosto 2024 - Septiembre 2024<br>
						<a href="https://drive.google.com/file/d/1GgbPdnSvPx3gtyEmxbq6G1iuR7QFdWdo/view?usp=sharing" target="_blank">Enlace al Certificado</a>
					</p>
					<br>
					<p>
						<strong>Maxi Programa</strong><br>
						<em>C# Nivel 3 [Web .NET]</em><br>
						Junio 2024 - Agosto 2024<br>
						<a href="https://drive.google.com/file/d/1joIiQRcdlpW1aC7BscpjoM-YAIyoEDjF/view?usp=sharing" target="_blank">Enlace al Certificado</a>
					</p>
					<br>
					<p>
						<strong>Maxi Programa</strong><br>
						<em>C# Nivel 2 [.NET + SQL]</em><br>
						Mayo 2024 - Junio 2024<br>
						<a href="https://drive.google.com/file/d/1DULsj85dPPAyogOE2br3cpkoIrUUYuWE/view?usp=sharing" target="_blank">Enlace al Certificado</a>
					</p>
				</div>
				<hr class="divider">
			</section>

			<hr class="divider">

			<section>
				<h2 class="section-title">🛠️ Habilidades</h2>
				<div class="content">
					<p>
						• Programación Orientada a Objetos (POO)<br>
						• .NET Framework<br>
						• ASP.NET WebForms<br>
						• C#<br>
						• SQL Server<br>
						• SQL Server Management Studio (SSMS)<br>
						• Visual Studio<br>
						• Desarrollo Web (HTML, CSS, JavaScript)<br>
						• Frameworks CSS (Bootstrap)<br>
						• Control de Versiones con GitHub<br>
						• Gestión de Proyectos con Jira<br>
						• Implementación de ERP/WMS
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
